@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* MAIN */
.main {
    width: min(calc(100% - 3rem), f.rem(920));
    margin-inline: auto;

    &__card--bg {
        background-color: var(--clr-neutral-800);
    }

    &__top {
        width: min(100%, f.rem(600));
        padding: f.rem(40);
        border-radius: f.rem(10) f.rem(100) f.rem(10) f.rem(10);

        @include bp.breakpointMin(large-screen) {
            padding: f.rem(58) f.rem(44);
        }
    }
    &__feature {
        margin-top: f.rem(32);

        .feature {
            width: 55px;
            height: 55px;
            background-color: var(--clr-neutral-900);
            border-radius: f.rem(10);
        }
    }

    &__bottom {
        // width: min(100%, f.rem(540));
        width: 100%;
        margin-top: auto;
        padding: f.rem(32) f.rem(32) f.rem(52);
        border-radius: f.rem(10);

        h1 {
            color: var(--clr-neutral-300);
            font-size: 0.875rem;
            font-size: clamp(0.875rem, 0.65rem + 0.94vw, 1.5rem);
            text-align: center;
            margin-bottom: f.rem(16);

            span {
                color: var(--clr-neutral-200);
            }
        }

        @include bp.breakpointMin(large-screen) {
            padding: f.rem(32);

            h1 {
                text-align: left;
            }   
        }
    }
    .data-limit {
        color: var(--clr-neutral-200);
    }

    .progress-bar {
        width: 100%;
        height: 30px;
        padding: f.rem(10);
        background-color: var(--clr-neutral-900);
        border-radius: 50px;
        margin-bottom: f.rem(12);
    }
}