@use '../utils/breakpoints' as bp;
@use '../utils/functions' as f;
/* DISPLAY */
.main {

    &__display {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: f.rem(24);

        @include bp.breakpointMin(large-screen) {
            flex-wrap: nowrap;
            flex-direction: row;
        }
    }

    &__feature {
        display: flex;
        align-items: center;
        gap: f.rem(24);

        .feature {
            display: grid;
            place-items: center;
        }
    }

    .data-limit {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}